
@{
    ViewBag.Title = "BookingHotel";
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
}

@{ double price = Model.PRICE_PER_PERSON; }

<form style="border: solid; border-width: 3px; border-radius: 10px; padding: 20px; margin-bottom:150px" action="@Url.Action("CompleteBookHotel", "Booking")" method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.PICTURES" alt="..." class="hotel-img" style="width:300px">
        </div>
        <div class="col-8">
            <div class="name" style="font-size: 2em;"><b>@Model.NAME</b> - <span class="city">@Model.ADDRESS</span> </div>
            <br />
            <div><span class="fas fa-comment-dollar"></span>    Price: <b>@price.ToString("N0")</b>/Room/Night</div>
            <div><span class="fas fa-concierge-bell"></span>    Available Room: @Model.ROOM_AVAILABLE</div>
            <input type="number" class="form-control" name="ID" value="@Model.ID" style="visibility:hidden" />
            <hr />
            <br />
            <div class="row">
                <div class="col-5">
                    <label class="form-label"><b>Check-in</b></label>
                    <input type="date" class="form-control" name="checkIn" required />
                </div>
                <div class="col-2">
                    <i class="bi bi-arrow-right form-label" style="font-size: 3rem;"></i>
                </div>
                <div class="col-5">
                    <label class="form-label"><b>Check-out</b></label>
                    <input type="date" class="form-control" name="checkOut" required />
                </div>
            </div>
            <br />
            <label class="form-label"><b>Guests</b></label>
            <input type="number" class="form-control" style="width:150px" min="1" name="guest" required />

            <label class="form-label"><b>Room</b></label>
            <input type="number" class="form-control" style="width:150px" min="1" name="room" required />
            <hr />
            <div class="name" style="font-size: 2em;"><b>Total Price: </b> <span id="total-price"></span> VND</div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary" href="@Url.Action("Stays", "HomePage")" style="width:150px">Go Back</a>
        <button type="submit" class="btn btn-primary" style="width:150px">Book Now</button>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var checkInInput = document.querySelector('input[name="checkIn"]');
    var checkOutInput = document.querySelector('input[name="checkOut"]');
    var roomInput = document.querySelector('input[name="room"]');
    var price = @price; 

    function calculateTotalPrice() {
        var checkIn = new Date(checkInInput.value);
        var checkOut = new Date(checkOutInput.value);
        var room = roomInput.value;

        var timeDifference = Math.abs(checkOut.getTime() - checkIn.getTime());
        var numberOfDays = Math.ceil(timeDifference / (1000 * 3600 * 24));

        var totalPrice = price * numberOfDays * room;
        var formattedTotalPrice = totalPrice.toLocaleString('en-US');

        document.querySelector('#total-price').textContent = formattedTotalPrice;
    }

    checkInInput.addEventListener('change', calculateTotalPrice);
    checkOutInput.addEventListener('change', calculateTotalPrice);
    roomInput.addEventListener('change', calculateTotalPrice);
});
</script>