
@{
    ViewBag.Title = "BookingPackage";
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
}

@{ 
    double price = Model.PRICE_PER_PERSON;
}

<form style="border: solid; border-width: 3px; border-radius: 10px; padding: 20px; margin-bottom:150px" action="@Url.Action("CompleteBookPackage", "Booking")" method="post">
    @Html.Action("PartialHotel", "Booking", new { id = Model.IDHOTEL })
    @Html.Action("PartialFlight", "Booking", new { id = Model.IDFLIGHT })
    <input type="number" class="form-control" style="width:150px" min="1" name="ID" value="@Model.ID" style="visibility:hidden" />
    <p style="font-size: 2em"> This trip will last for <b>@Model.PROLONG</b> days.</p>
    <label class="form-label"><b>Guests</b></label>
    <input type="number" class="form-control" style="width:150px" min="1" name="guest" required />
    <hr />
    <div class="name" style="font-size: 2em;"><b>Total Price:   </b> <span id="total-price"></span> VND</div>
    <hr />
    <br />
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary" href="@Url.Action("Packages", "HomePage")" style="width:150px">Go Back</a>
        <button type="submit" class="btn btn-primary" style="width:150px">Book Now</button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var guestInput = document.querySelector('input[name="guest"]');
        guestInput.addEventListener('input', function () {
            var guestCount = parseInt(guestInput.value);
            var pricePackage = @price;

            var newTotalPrice = pricePackage * guestCount;
            var formattedTotalPrice = newTotalPrice.toLocaleString('en-US');

            document.getElementById('total-price').innerText = formattedTotalPrice;
        });
    });
</script>