
@{
    ViewBag.Title = "BookingHotel";
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
@{ double price = Model.PRICE_PER_PERSON; }

<form style="border: solid; border-width: 3px; border-radius: 10px; padding: 20px; margin-bottom:150px" action="@Url.Action("CompleteBookHotel", "Booking")" method="post">
    <div class="row">
        <div class="col-4">
            <img src="@Model.PICTURES" alt="..." style="width: 400px; height: 400px; border-radius: 0 !important;">
        </div>
        <div class="col-8">
            <div class="name" style="font-size: 2em;">@Model.NAME - @Model.ADDRESS</div>
            <br />
            <div><span class="fas fa-comment-dollar"></span>    Price: <b>@price.ToString("N0")</b>/Room/Night</div>
            <div><span class="fas fa-concierge-bell"></span>    Available Room: @Model.ROOM_AVAILABLE</div>
            <input type="number" class="form-control" name="ID" value="@Model.ID" style="visibility:hidden" />
            <hr />
            <br />
            <div class="row">
                <div class="col-5">
                    <label class="form-label"><b>Check-in</b></label>
                    <input type="date" class="form-control" name="checkIn" id="checkIn" required />
                </div>
                <div class="col-2">
                    <i class="bi bi-arrow-right form-label" style="font-size: 3rem;"></i>
                </div>
                <div class="col-5">
                    <label class="form-label"><b>Check-out</b></label>
                    <input type="date" class="form-control" name="checkOut" id="checkOut" required oninput="validateDateRange()" />
                    <span id="date-error" style="display: none; color: red;">Check-out date must be later than check-in date.</span>
                </div>
            </div>
            <br />
            <hr />
            <label class="form-label"><b>Room type</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Single Room
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Double Room
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">
                    Twin Room
                </label>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <label class="form-label"><b>Guests</b></label>
                    <input type="number" class="form-control" style="width:150px" min="1" name="guest" required />
                </div>

                <div class="col">
                    <label class="form-label"><b>Room</b></label>
                    <input type="number" class="form-control" style="width:150px" min="1" name="room" required />
                </div>
            </div>

            <hr />
            <div class="name" style="font-size: 2em;">Total Price: <span class="name" style="font-size: 1em;" id="total-price"></span> VND</div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-primary" href="@Url.Action("Stays", "HomePage")" style="width:150px">Go Back</a>
        <button type="submit" class="btn btn-primary" style="width:150px">Book Now</button>
    </div>
</form>

<script>
    window.onload = function () {
        var today = new Date();
        var tomorrow = new Date(today);
        tomorrow.setDate(tomorrow.getDate() + 1);
        var minDate = tomorrow.toISOString().split('T')[0];
        document.getElementsByName("checkIn")[0].setAttribute('min', minDate);
    }
</script>

<script>
    function validateDateRange() {
        var checkIn = document.getElementById('checkIn').value;
        var checkOut = document.getElementById('checkOut').value;

        if (new Date(checkOut) <= new Date(checkIn)) {
            document.getElementById('date-error').style.display = 'block';
        } else {
            document.getElementById('date-error').style.display = 'none';
        }

        var checkInDate = new Date(checkIn);
        var minCheckOutDate = new Date(checkInDate);
        minCheckOutDate.setDate(minCheckOutDate.getDate() + 1);
        var minCheckOutDateString = minCheckOutDate.toISOString().split('T')[0];
        document.getElementsByName("checkOut")[0].setAttribute('min', minCheckOutDateString);
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var checkInInput = document.querySelector('input[name="checkIn"]');
    var checkOutInput = document.querySelector('input[name="checkOut"]');
    var roomInput = document.querySelector('input[name="room"]');
    var price = @price;
    function calculateTotalPrice() {
        var checkIn = new Date(checkInInput.value);
        var checkOut = new Date(checkOutInput.value);
        var room = roomInput.value;
        var timeDifference = Math.abs(checkOut.getTime() - checkIn.getTime());
        var numberOfDays = Math.ceil(timeDifference / (1000 * 3600 * 24));
        var totalPrice = price * numberOfDays * room;
        var formattedTotalPrice = totalPrice.toLocaleString('en-US');
        document.querySelector('#total-price').textContent = formattedTotalPrice;
    }
    checkInInput.addEventListener('change', calculateTotalPrice);
    checkOutInput.addEventListener('change', calculateTotalPrice);
    roomInput.addEventListener('change', calculateTotalPrice);
});
</script>