@model Final_Report.Models.COMMENTANDRATING

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>COMMENTANDRATING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEL.PICTURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL.PICTURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAR_RATING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAR_RATING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATECREATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATECREATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
