@using Final_Report.Models
@model Final_Report.Areas.Navigation.NavigationMenu

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <a class="d-flex row" style="text-align: center; justify-content:center ; align-items:center">
        <img src="@((ADMIN)Session["Admin"]).PICTURES" class="row" style="width:50%;height:50%;align-items: center; justify-content: center; margin: 0px; display: flex;" />
        <div class="row" style="text-align: center;">
            <span class="fs-6">@((ADMIN)Session["Admin"]).USERNAME</span>
        </div>
    </a>

    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            @foreach (var item in Model.MenuItems)
            {
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@item.Link">
                        <i class="bi @item.Icon"></i>
                        @item.DisplayName
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>
