
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="mb-3" style="position:relative">
        <div class="mb-3">
            @Html.Action("Top1", "HomePage")
        </div>
    </div>
</div>
<div class="row">
    <div class="container row col-12 mb-3" style="position:relative;padding-left:35px">
        <div class="col-6 mb-3">
            @Html.Action("InforhotelPartial", "HomePage")
        </div>
        <div class="col-6 mb-3">
            @Html.Action("Top2", "HomePage")
        </div>
    </div>
</div>

<div class="row">
    <div class="container row col-12 mb-3" style="position:relative;padding-left:35px">
        <div class="col-6 mb-3">
            @Html.Action("Top3", "HomePage")
        </div>
        <div class="col-6 mb-3">
            @Html.Action("InforhotelPartial", "HomePage")
        </div>
    </div>
</div>
<div class="row">
    <div class="mb-3" style="position:relative">
        <div class="mb-3">
            @Html.Action("Top4", "HomePage")
        </div>
    </div>
</div>
<br />
