<header class="header" data-header>
    <div class="container">
        <nav class="navbar">
            <a href="#">
                <h1 class="logo">Tourest</h1>
            </a>

            <ul class="navbar-list">

                <li>
                    <a href="@Url.Action("Index","HomePage")" class="navbar-link">Home</a>
                </li>

                <li>
                    <a href="@Url.Action("Stays","HomePage")" class="navbar-link">Stays</a>
                </li>

                <li>
                    <a href="@Url.Action("Packages","HomePage")" class="navbar-link">Tours</a>
                </li>

                <li>
                    <a href="@Url.Action("Flights","HomePage")" class="navbar-link">Flights</a>
                </li>

                <li>
                    <a href="#" class="navbar-link">Contact Us</a>
                </li>

            </ul>
            <div>
                @if (Session["EMAIL"] != null)
                {
                    <div class="dropdown" style="float: right">
                        <button class="dropdown-toggle dropbtn btn" data-bs-toggle="dropdown" aria-expanded="false"
                           style="background-color: azure; color: darkblue; font-weight: 500">Account</button>
                        <ul class="dropdown-menu text-light dropdown-content">
                            <li><a class="dropdown-item" href="@Url.Action("Profile","User")">Profile</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("History","Booking")">Booking history</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","User")">Log out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div style="float:right">
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500" href=@Url.Action("Register", "User")>Register</a>
                        <a class="btn" style="background-color:azure;color:darkblue;font-weight:500" href=@Url.Action("Login", "User")>Sign in</a>
                    </div>
                }
            </div>

        </nav>

    </div>
</header>
