@model Final_Report.Models.UserLogin
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/SignLogLayout.cshtml";
    <link href="~/Content/Item/Login.css" rel="stylesheet">
}
@using (Html.BeginForm())
{
    <div class="wrapper">
        @Html.ValidationSummary(true)
        <div class="logo">
            <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Twitter
        </div>
        <form class="p-3 mt-3">
            <label for="exampleFormControlInput2" class="form-label">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <label for="inputPassword5" class="form-label">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6" style="margin-top:10px">
            <a style="font-size:medium" href="@Url.Action("ForgotPass", "User")">Forget password ?</a> or <a style="font-size:medium" href="@Url.Action("Register","User")">Sign up</a>
        </div>
    </div>
}