@model Final_Report.Models.HOTEL

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
@using (Html.BeginForm("Edit", "Hotel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>HOTEL</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">ID:</label>
        <div class="col-md-10">
            <input type="text" size="70" name="ID" value="@Model.ID" readonly />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Name:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Address:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[0]" />
            <img src="@Model.PICTURE1" width="120">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[1]" />
            <img src="@Model.PICTURE2" width="120">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[2]" />
            <img src="@Model.PICTURE3" width="120">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[3]" />
            <img src="@Model.PICTURE4" width="120">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[4]" />
            <img src="@Model.PICTURE5" width="120">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Image:</label>
        <div class="col-md-10">
            <input type="file" name="fFileUploads[5]" />
            <img src="@Model.PICTURE6" width="120">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Information:</label>
        <div class="col-md-10">
            <textarea name="INFORMATION" id="sINFORMATION">@Model.INFORMATION</textarea>
            <script>
                CKEDITOR.replace('sINFORMATION');
            </script>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Price:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRICE_PER_PERSON, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRICE_PER_PERSON, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Number of room:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ROOM_AVAILABLE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ROOM_AVAILABLE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Modify date:</label>
        <div class="col-md-10">
            <input type="datetime" name="MODIFIEDDAY" required value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
