@model Final_Report.Models.FLIGHT

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Flight", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>FLIGHT</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.COMPANY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.COMPANY, ViewBag.CompanyList as SelectList, "Select Company", new { @class = "form-control", onchange = "updateLogo()" })
            @Html.ValidationMessageFor(model => model.COMPANY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LOGO, "LOGO", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img id="logoImage" src="" alt="Logo" style="max-width: 100px; max-height: 100px;" />
            @Html.HiddenFor(model => model.LOGO, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LOGO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DEPARTURE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DEPARTURE, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control", @type = "Date" })
            @Html.ValidationMessageFor(model => model.DEPARTURE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ARRIVAL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ARRIVAL, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control", @type = "Date" })
            @Html.ValidationMessageFor(model => model.ARRIVAL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FROM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FROM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FROM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PRICE_PER_PERSON, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PRICE_PER_PERSON, new { @class = "form-control", type = "number", step = "1" })
            @Html.ValidationMessageFor(model => model.PRICE_PER_PERSON, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    function updateLogo() {
        var companyName = $("#COMPANY").val();
        $.ajax({
            url: '@Url.Action("GetLogo", "Flight")',
            type: 'GET',
            data: { company: companyName },
            success: function (data) {
                $("#logoImage").attr("src", data);
                $("#LOGO").val(data);
            }
        });
    }
</script>