@*@model IEnumerable<Final_Report.Models.HOTEL>*@
@using PagedList.Mvc;
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Company
        </th>
        <th>
            Logo
        </th>
        <th>
            Departure
        </th>
        <th>
            Arrival
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            Price/Person
        </th>
        <th style="width:250px"></th>
    </tr>

    @foreach (Final_Report.Models.FLIGHT item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPANY)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.LOGO))
                {
                    <img src="@item.LOGO" style="width:50px" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTURE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARRIVAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FROM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_PER_PERSON)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id=item.ID})" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Detail", new {id=item.ID})" class="btn btn-light">Detail</a>
                <a href="@Url.Action("Delete", new {id=item.ID})" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}
<nav aria-label="Page navigation example" class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(
        (PagedList.IPagedList)Model, page => Url.Action("Index", new { page = page })
    )
</nav>